Checks: 'bugprone-*,performance-*,readability-*,modernize-*,clang-analyzer-*,-readability-identifier-length,-readability-magic-numbers'

WarningsAsErrors: ''

CheckOptions:
  - key: bugprone-easily-swappable-parameters.MinimumLength
    value: 3 # Only flag if 3 or more params are swappable
