Checks: 'bugprone-*,performance-*,readability-*,modernize-*,clang-analyzer-*,-modernize-use-trailing-return-type,-bugprone-unchecked-optional-access,-readability-convert-member-functions-to-static,-readability-function-cognitive-complexity,-readability-magic-numbers,-readability-identifier-length'

WarningsAsErrors: ''
